<!DOCTYPE html>
<html charset="utf-8">
    <head>
        <link rel="stylesheet" href="/static/main.css">
        {% block head %}
        <title>prosaic web</title>
        {% endblock %}
        <script src="/static/prosaicweb.js"></script>
    </head>
    <body>
      <div id="top">
        <span class="tab left"><a href="/generate">generate</a></span>
        <span class="tab left"><a href="/corpora">corpora</a></span>
        <span class="tab left"><a href="/sources">sources</a></span>
        <span class="tab left"><a href="/templates">templates</a></span>

        <span class="tab right">
          {% if authenticated %}
          logged in as <a href="/auth/account">{{ user.email }}</a>
          | <a href="/auth/logout"><button>log out</button></a>
          {% else %}
          <form action="/auth/login" method="POST">
            <input required="true" type="email" name="email" placeholder="email">
            <input required="true" type="password" name="password" placeholder="password">
            <button>login</button>
          </form>
          | <a href="/auth/register">create an account</a>
          {% endif %}
        </span>
      </div>
      {% if authenticated %}
      {% block content %}{% endblock %}
      {% else %}
      please login :)
      {% endif %}
    </body>
</html>
