<!DOCTYPE html>
<html charset="utf-8">
    <head>
        <link rel="stylesheet" href="/static/main.css">
        {% block head %}
        <title>PROSAIC PARTY</title>
        {% endblock %}
        <script src="/static/prosaicweb.js"></script>
    </head>
    <body>
      <div id="top">
        <span class="tab left"><a href="/generate">generate</a></span>
        <span class="tab left"><a href="/corpora">corpora</a></span>
        <span class="tab left"><a href="/sources">sources</a></span>
        <span class="tab left"><a href="/templates">templates</a></span>

        <span class="tab right">
          {% if authenticated %}
          logged in as <strong>{{ user.email }}</strong>
          | <a href="/auth/logout"><button>log out</button></a>
          {% else %}
          <form action="/auth/login" method="POST">
            <input required="true" type="email" name="email" placeholder="email">
            <input required="true" type="password" name="password" placeholder="password">
            <button>login</button>
          </form>
          | <a href="/auth/register">create an account</a>
          {% endif %}
        </span>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p id="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
        </p>
        {% endif %}
      {% endwith %}
      {% block content %}
      <h1>welcome to prosaic.party</h1>
      <p>this is a web front-end
        to <a href="https://github.com/nathanielksmith/prosaic">prosaic</a>, a
        tool for creating cut-up poetry from large collections of texts.</p>
      {% endblock %}
    </body>
</html>
