{% extends "base.html" %}

{% block head %}
<title>corpora - prosaicweb</title>
{% endblock %}

{% block content %}
<h1>corpora</h1>

<h2>add a new corpus</h2>
<form method="POST" action="/corpora">
    <fieldset>
        <legend>meta</legend>
        <label>name <input name="corpus_name"/></label><br>
        <label>description <input name="corpus_description"/></label>
    </fieldset>
    <fieldset>
        <legend>sources</legend>
        <ul>
        {% for source in sources %}
        <li>
            <label>
                <input type="checkbox" name="sources" value="{{source.id}}">
                <a href="/sources/{{source.id}}">{{source.name}}</a>
            </label>
        </li>
        {% endfor %}
        </ul>
    </fieldset>
    <button>create</button>
</form>

<h2>existing corpora</h2>
<table border="true">
    <tr>
        <th>name</th> <th>description</th> <th>sources</th>
    </tr>
    {% for corpus in corpora %}
    <tr>
        <td><a href="/corpora/{{corpus.id}}">{{ corpus.name }}</a></td>
        <td>{{ corpus.description }}</td>
        <td>
        {% for source in corpus.sources %}
        {# TODO want a url_for_source that can take a source #}
        <a href="/sources/{{source.id}}">{{source.name}}</a>&nbsp;
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
