<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>generate some poetry</title>
        <link rel="stylesheet" href="/static/generate.css">
        <link rel="stylesheet" href="/static/codemirror/codemirror.css">
    </head>
    {% if user_name %}
    <form id="logout" action="/logout" method="post">
        logged in as <b>{{ user_name }}</b> <input type="submit" value="log out">
    </form>
    {% endif %}
    <h1>generate some poetry with prosaic</h1>
    <p>TODO help text</p>
    {% if user_name %}
    <form id="upload">
        <h2>upload new source</h2>
        <sub>
            limit 5mb per file. your files are not visible to other users.
        </sub>
        <p>
            name of file: <input required="true" name="upload_name" type="text">
        </p>
        <p>
            <input required="true" name="upload" type="file">
        </p>
        <p>
            <input type="submit" value="upload!">
        </p>
    </form>
    {% endif %}
    <body>
        <div id="content">
            <div id="col0">
                <form id="generate">
                    <h2>sources</h2>
                    <p>
                      <select required="true" id="sources" name="source" multiple="true">
                          {% for source in sources %}
                          <option>{{source}}</option>
                          {% endfor %}
                      </select>

                    </p>
                    <p>
                    <input type="checkbox" name="truncate"><span>truncate longer sources to match shortest source?</span>
                    </p>

                    <h2>template</h2>
                    <select id="templates" name="template_name">
                        {% for template in templates %}
                        <option value="{{template.name}}" data-content="{{template.json}}"> {{template.name}} </option>
                        {% endfor %}
                    </select>
                    <p>you can pre-load an existing template into the text box below and then tweak as yr beautiful heart desires.</p>
                    <textarea rows="30" name="template_raw"></textarea>
                    <br>
                    <input type="submit"  value="generate">
                </form>
            </div>
            <div id="col1">
                <h2>output</h2>
                <div id="output">
                </div>
            </div>
        </div>
        <script src="/static/codemirror/codemirror.js"></script>
        <script src="/static/codemirror/mode/javascript.js" ></script>
        <script src="/static/generate.js"></script>
    </body>
</html>
