<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>login to prosaic.party</h1>
    <div id="register">
      <h2>new user? register:</h2>
      <form action="/auth/register" method="POST">
        <label><h3>email</h3>
          <input type="text" name="email" required="true">
        </label>
        <label><h3>password</h3>
          <input type="password" name="password" required="true">
        </label>
        <button>login</button>
      </form>
    </div>
    <div id="login">
      <h2>existing user?</h2>
      <form action="/auth/login" method="POST">
        <label><h3>email</h3>
          <input type="text" name="email" required="true">
        </label>
        <label><h3>password</h3>
          <input type="password" name="password" required="true">
        </label>
        <button>login</button>
      </form>
    </div>
  </body>
</html>
