{% extends "base.html" %}

{% block head %}
<title>sources - prosiacweb</title>
{% endblock %}

{% block content %}
<h2>sources</h2>
<a href="#new"><button>+</button></a>

<table border="true">
    <tr>
        <th>name</th> <th>description</th> <th>content preview</th>
    </tr>
    {% for source in sources %}
    <tr>
        <td><a href="/sources/{{source.id}}">{{ source.name }}</a></td>
        <td>{{ source.description }}</td>
        {# TODO make/use a filter for this: #}
        <td>{{ source.content_preview }}</td>
    </tr>
    {% endfor %}
</table>

<a name="new"></a>
<h2>add a new source</h2>
<form method="POST" action="/sources" enctype="multipart/form-data">
    <fieldset>
        <legend>meta</legend>
        <p>
          <label>
            <h3>name</h3>
            <input name="source_name"></label>
        </p>
        <p>
          <label>
            <h3>description</h3>
            <textarea name="source_description"></textarea>
          </label>
        </p>
    </fieldset>
    <fieldset>
        <legend>content of source</legend>
        <label>file <input type="file" name="content_file"></label><br>
        <strong>or</strong><br>
        <label>copypasta <textarea name="content_paste"></textarea></label>
    </fieldset>
    <p>
    <strong>NOTE it can take several minutes to process a source.</strong>
    </p>
    {# TODO maybe create the source in the DB with no content and start up a
    background thread to parse it; user can refresh the source's detail page
    until the phrases show up. #}
    <button>submit</button>
</form>

{% endblock %}
