{% extends "base.html" %}

{% block head %}
<title>{{source.name}} - prosaicweb</title>
{% endblock %}

{% block content %}
<h1>{{source.name}}</h2>
<form method="post" action="/sources/{{source.id}}">
    <input type="hidden" name="_method" value="DELETE">
    <button>delete this source</button>
</form>
<form method="post" action="/sources/{{source.id}}">
    <input type="hidden" name="_method" value="PUT">
    <fieldset>
        <legend>meta</legend>
        <label>name <input name="source_name" value="{{source.name}}"></label><br>
        <label>description <textarea name="source_description">{{source.description}}</textarea></label>
    </fieldset>
    <fieldset>
        <legend>content of source</legend>
        <textarea name="source_content">{{source.content}}</textarea>
    </fieldset>
    <button>update</button>
</form>
<h2>phrases parsed from this source</h2>
<form action="/phrases" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="source" value="{{source.id}}">
  <button>delete selected phrases</button>
  <table>
    <tr>
      <th></th><th>raw</th><th>syllables</th>
      <th>rhyme sound</th><th>alliteration?</th><th>stems</th>
    </tr>
    {% for phrase in source.phrases %}
    <tr>
      <td> <input name="phrases" type="checkbox" value="{{phrase.id}}"> </td>
      <td>{{phrase.raw}}</td>
      <td>{{phrase.syllables}}</td>
      <td>{{phrase.rhyme_sound}}</td>
      <td>
        {% if phrase.alliteration %}
        Y
        {% else %}
        N
        {% endif %}
      </td>
      <td>{{phrase.stems}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}

