{% extends "base.html" %}

{% block head %}
<title>{{source.name}} - prosaicweb</title>
{% endblock %}

{% block content %}
<h1>{{source.name}}</h2>
<form method="post" action="/sources">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="source_id" value="{{source.id}}">
    <button>delete this source</button>
</form>
<form method="post" action="/sources/{{source.id}}">
    <input type="hidden" name="_method" value="PUT">
    <fieldset>
        <legend>meta</legend>
        <label>name <input name="source_name" value="{{source.name}}"></label><br>
        <label>description <textarea name="source_description">{{source.description}}</textarea></label>
    </fieldset>
    <fieldset>
        <legend>content of source</legend>
        <textarea name="source_content">{{source.content}}</textarea>
    </fieldset>
    <button>update</button>
</form>
{% endblock %}

