{% extends "base.html" %}

{% block head %}
<title>templates</title>
{% endblock %}

{% block content %}
<h1>templatez</h1>
<h2>add a new template</h2>
<form action="/templates" method="POST">
  <input type="hidden" name="_method" value="POST">
  <p>
    <label>name
      <input type="text" name="template_name">
    </label>
  </p>
  <p>
<textarea name="template_json" rows="10" cols="60">[
  {},
  {},
  {}
]</textarea>
  </p>
  <button>create</button>
</form>
<h2>existing templates</h2>
<table border="true">
  <tr>
    <th>name</th><th>preview</th>
  </tr>
  {% for template in templates %}
  <tr>
    <td>
      <a href="/templates/{{template.id}}">{{template.name}}</a>
    </td>
    <td>
      <pre>{{template.pretty}}</pre>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
