{% extends "base.html" %}

{% block head %}
<title>templates</title>
{% endblock %}

{% block content %}
<h2>templates</h2>
<a href="#new"><button>+</button></a>

<table border="true">
  <tr>
    <th>name</th><th>preview</th>
  </tr>
  {% for template in templates %}
  <tr>
    <td>
      <a href="/templates/{{template.id}}">{{template.name}}</a>
    </td>
    <td>
      <pre>{{template.pretty}}</pre>
    </td>
  </tr>
  {% endfor %}
</table>

<a name="new"></a>
<h2>add a new template</h2>
<form action="/templates" method="POST">
  <input type="hidden" name="_method" value="POST">
  <p>
    <label>name
      <input type="text" name="template_name">
    </label>
  </p>
  <p>
    <textarea class="json" name="template_json" rows="10" cols="60">[{}, {}, {}]</textarea>
  </p>
  <button>create</button>
</form>
{% endblock %}
