<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/init.css">
    <title>upload corpus</title>
  </head>
  <body>
    <h1>upload corpus to the phrase database</h1>
    <p>feet on the ground, head in the sky</p>
    <table>
      <tr>
        <td>
          <h3>browse existing corpora:</h3>
          <ul>
            {% for corpus in corpora %}
            <li><a href="/corpora/{{corpus.id}}">{{corpus.name}}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <h3>upload a new corpus:</h3>
          <form method="post" action="/upload">
            <table>
              <tr>
                <td>name your corpus:</td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td>paste in some <strong>plaintext:</strong></td>
                <td>
                  <textarea name="text"></textarea>
                </td>
                <!-- TODO captcha -->
            </table>
            <input type="submit" value="make something beautiful before you die">
          </form>
        </td>
        </tr>
    </table>
  </body>
</html>
