body {
    background: #BE89F0;
}

#content {
    width: 100%;
}

#col0 {
    width: 40%;
    float: left;
}

#col1 {
    width: 40%;
    float: right;
}

#sources {
    width: 60%;
    height: 10em;
}

textarea {
    width: 100%;
}

.poem_container {
    border: 1px dashed black;
    overflow: hidden;
}
  .poem_container sub {
      display: block;
      clear:both;
  }

.poem_controls {
    float: left;
    width: 5%;
}

.poem {
    float: right;
    width: 90%;
}

#authinfo {
    text-align: right;
}

#upload {
    background-color: rgba(0,0,0,.25);
    padding:1em;
    width:50%;
}

.system.source {
    background-color: rgba(255, 27, 0, 0.3);
}
